.dashboard-bg-color{
    height: 150%;
    width: auto;
    background-color:rgb(251 250 250);
}

.grettingMsg{
    margin-left:4%;
}

.greetingUsers h1 {
    font-weight: 600;
}

.menuIcon {
    margin: 4% 4% 0;
}

.menuIcon img{
    width: 95%;
    margin-bottom: 5%;
}

.menuIcon .row .col img:hover {
    border: 1px solid #007bfd;
}

.menuIcon .row .col:hover {
    opacity: 0.6;
}