.login-form{
  width:50%;
  float:left;
}

.login-bg{
    width:50%;
    float:right;
    overflow: hidden;
}

.login-bg img{
  max-height: 100%; 
  width: auto;
  display: block;
}

.login-form .form-container{
  position: relative;
  padding: 20% 0 0 0;
  width: 100%;
  max-width: 440px;
  margin: auto;
}

.login-field{
  padding-top:10px;
}

.login-field .form-control{
  height:45px;
}

.remember-me{
  width:50%;
  float:left;
  
  margin-top: 10px;
  margin-bottom: 10px;
}

.forgot-password{
  width:50%;
  float:right;
  
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-google {
  width: 50%;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-google button{
  width:215px;
  height: 40px;
}

.social-google button span{
  text-align: center;
  width: 300px;
}

.social-ms {
  width: 50%;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
  
