/*
.newCase-btn{
  background-color: #24a19c;
  padding: 8px 20px;
  border: 1px solid #24a19c;
  color: #fff;
  margin: 2px 5px;
  cursor: pointer;
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 7px;
}
*/

input::placeholder,
textarea::placeholder {
  font-style: oblique;
}

.newCase-form form {
  margin: 0 auto;
  padding: 1% 0;
}

.newCase-form .part-header{
    margin-bottom: 1rem;
}

.newCase-form .part-value {
    padding: 15px;
    border: 1px solid lightgrey;
    background-color: white;
}

.accordion .card {
  border: none;
}

.accordion .card .card-header {
  background-color: white;
  border-bottom: none;
}

.accordion .card .card-body {
  padding: 0.5rem 1.25rem;
}

.canvas {
  border: 1px solid lightgray;
}
.appliance-image {
    border: 1px solid lightgray;
}

.part-value.section-bands {
  padding: 5px 15px 5px 15px;
}

.part-value.section-instruction {
  padding: 10px 15px 5px 15px;
}

.newCase-form .form-row span {
  font-weight: bold;
}

.newCase-form h3 {
  font-weight: 600;
}

.deliveryType{
    display:flex;
    margin-top: 1rem;
}

.newCase-step {
  display: flex;
}

#inp-note {
  width: 100%;
  height: 80px;
  border: 0.5px solid lightgrey;
  resize: none;
}

label.instructions {
  cursor: pointer;
}

.instruction_title {
  margin-right: 15px;
}

.inp-instructions .active:before {
  background-color: #2b6fb6;
  opacity: 0.7;
}

.inp-instructions .instructions_u {
  background-image: url(../assets/newcase/upper.png);
  width: 20px;
  height: 20px;
  margin: 0 5px 0px 0;
  vertical-align: sub;
}

.inp-instructions .instructions_l {
  background-image: url(../assets/newcase/lower.png);
  width: 20px;
  height: 20px;
  margin: 0 5px 0px 0;
  vertical-align: sub;
}

/*Bands*/
.section-bands select {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border: none;
  /*text-align-last: center;*/
}

.section-bands.title {
  display: inline-flex;
  align-items: center;
}

/*Prescription Part*/
.section-prescription .card-body{
    padding: 0.5rem 1.25rem;
}

.location {
  margin-top: 0.5rem;
}

.location .location_u:hover,
.location .location_l:hover {
  cursor: pointer;
}

.location .active:before {
  background-color: #2b6fb6;
  opacity: 0.7;
}

.location .deactivate:before {
  background-color: #ffffff;
  opacity: 0.7;
}

.location .location_u {
  background-image: url(../assets/newcase/upper.png);
  width: 20px;
  height: 20px;
  margin: 0 5px 0px 0;
  vertical-align: middle;
  float: right;
}

.location .location_u:before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
}

.location .location_l {
  background-image: url(../assets/newcase/lower.png);
  width: 20px;
  height: 20px;
  margin: 0 5px 0px 0;
  vertical-align: middle;
  float: right;
}

.location .location_l:before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
}

.location .active:before {
  background-color: #2b6fb6;
  opacity: 0.7;
}

/*Add Designs*/
.section-design {
  border: 1px solid lightgray;
}

ul.react-tabs__tab-list {
    height: auto;
    width: 135px;
    float: left;
    list-style: none;
    padding: 1rem 0 0 0;
    margin-bottom: 0;
}

.react-tabs__tab {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0px;
    text-align: left;
    padding: 10px;
    height: 65px;
}

.react-tabs__tab:hover{
    cursor:pointer;
    color: cornflowerblue;
}

.react-tabs__tab--selected {
    color: cornflowerblue;
}

.section-design .card-body {
    padding: 0 1.25rem;
}

.react-tabs__tab-panel {
    width: 87%;
    padding-left: 1rem;
    float:right;
    border-left: 1px solid lightgray;
}


.react-tabs__tab-panel--selected {
    border-left: 1px solid lightgray;
    min-height: 520px;
    padding-top: 1rem;
}


.tab-pane img {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.design {
    display: inline-block;
    width: 145px;
    padding: 0.55rem;
    margin: 0.125rem;
    text-align: center;
}

.custom .design{
    width:625px;
}

.design:hover, .design.selected:hover{
  border: 1px solid lightsteelblue;
  background-color: rgb(229, 238, 248, 0.5);
  border-radius: 15%;
}

.design.selected{
  border: 1px solid lightgray;
  background-color: rgba(207, 207, 207, 0.5);
  border-radius: 15%;
}

.design img {
  pointer-events: none
}

.design span {
    font-weight: bolder;
    pointer-events: none
}


/*Dropzone*/
section.container.dropzone {
  width: 100%;
  height: 160px;
  margin: 18px auto 40px;
  border: 3px dashed lightgray;
  float: left;
  padding: 0px 20px;
  /*overflow: scroll;*/
  overflow-x: hidden;
}

.field.dropzone {
  width: 100%;
  height: 135px;
  display: inline-flex;
  align-items: center;
  padding-top: 30px;
}

.field.dropzone p {
  text-align: center;
  width: 100%;
  color: cornflowerblue;
  font-size: 1.25rem;
  font-weight: 600;
}

/*Doctor/Office Info*/
.defaultAddr-mark {
  display: table;
  background-color: rgb(15, 160, 10);
  color: white;
  width: 150px;
  height: 35px;
  border-radius: 2em;
}

.defaultAddr-mark p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.doctorOfficeInfo .part-value {
  padding-left: 25px;
}

/*Drawing*/
.teethImg {
  background-image: url("/src/assets/newcase/teeth.png");
  width: 630px;
  height: 380px;
  display: inline-block;
}

.drawing-canvas {
  position: absolute;
  z-index: 10;
  background: none !important;
}

.drawing-tool {
  float: right;
  padding: 10px 10px 0 10px;
}

.overview-titles {
  margin-bottom: 8px;
  text-align: center;
  font-style: italic;
  font-weight: 700;
  color: #6495ed;
}

.drawing-tool button {
  font-style: italic;
  font-size: 12px;
  color: black;
  padding: 8px;
  font-weight: 500;
  border: 1px solid #5a6268;
  background-color: rgba(255, 255, 255, 0);
}

.drawing-tool #color-picker {
  padding: 0px;
  vertical-align: bottom;
}

.drawing-tool #line-color {
  width: 46px;
  height: 46px;
}

.drawing-tool #reset-btn {
  margin-right: 0px;
  margin-left: -1px;
}

#appliance-img-u {
  position: absolute;
  top: 132px;
  right: 308px;
}

#appliance-img-l {
  position: absolute;
  top: 132px;
  right: 35px;
}

/*urxGenerator*/

.canvas-contents {
  position: absolute;
  z-index: -1;
}

.labslip-inner-element {
  position: absolute;
  z-index: 5;
}
/*Office Address*/
.newCase-form .doctorOfficeInfo .part-value{
    width: 45%;
    height: auto;
    padding:0;
    border: 1px solid #5ba95b;
    border-radius: 5px;
}

.newCase-form .doctorOfficeInfo .form-row {
    height: 2rem;
    margin-left: 0;
    padding-left: 1.5rem;
}

.newCase-form .form-row.user-name {
    margin-top: 1.25rem;
}

.newCase-form .form-row.phone {
    margin-bottom: 0.75rem;
}

.newCase-form .defaultAddr-mark,
.booking-form .defaultAddr-mark{
    display: inline-block;
    float: right;
    background-color: #5ba95b;
    padding: 8px 25px 0 25px;
    height: 43px;
    color: white;
    font-weight: 600;
    border-bottom-left-radius: 15px;
}

.newCase-form .doctorOfficeInfo h3 {
    display: inline-block;
}

.address-edit {
    padding-left: 3rem;
    display: inline-block;
    color:#007bff;
    font-weight:bolder;
    font-size: 1.25rem;
}
