html, body {
    height: 100%;
}


#root, .app{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.app.full-screen.register {
    overflow-y: auto;
    position: absolute;
    top: 5%;
    left: 50%;
    width: 100%;
    margin-left: -50%;
}

.register-form {
    margin: 0 auto;
    width: 550px;
}

.panel {
    border-radius: 2px;
    border: 0;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 12%), 0 1px 6px 0 rgb(0 0 0 / 12%);
}

/*
.panel-body {
    padding: 15px;
}
*/

.register-form form {
    margin: 0 auto;
    width: 450px;
    padding: 1% 0;
}

.register-form .part-header {
    padding-top: 20px;
    font-weight: 400;
    font-size: 20px;
}

.form-input {
    position: relative;
    display: table;
    border-collapse: separate;
}

.form-input {
    width: 100%;
}

.form-input .col-md-12{
    padding-bottom: 1%;
}

/*
.register-form form .privacy-policy {
    
}
*/

.register-form form .register-button {
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}
